# ignoring:
cli_backend/ebin/
cli_backend_tests/ebin/
cli_frontend/ebin/
cli_frontend_tests/ebin/
cli_common/ebin/
cli_common_tests/ebin/
cli_integration_tests/ebin/
cli_integration_tests/backend_ebin/
cli_integration_tests/backend_commands_ebin/
cli_integration_tests/common_ebin/
cli_integration_tests/frontend_ebin/
cli_integration_tests/cli_terminal_bin/
cli_terminal/bin/
cli_terminal_prototype/bin/
cli_command_parser_prototype/ebin/
cli_command_parser/ebin/
deploy/
untitled.sublime-workspace
