# ignoring:
cli_backend/ebin/
cli_backend_tests/ebin/
cli_frontend/ebin/
cli_frontend_tests/ebin/
cli_common/ebin/
cli_common_tests/ebin/
cli_integration_tests/ebin/
cli_integration_tests/service_ebin/
cli_integration_tests/cli_terminal_bin/
cli_integration_tests_old/ebin/
cli_integration_tests_old/backend_ebin/
cli_integration_tests_old/backend_commands_ebin/
cli_integration_tests_old/common_ebin/
cli_integration_tests_old/frontend_ebin/
cli_integration_tests_old/cli_terminal_bin/
cli_terminal/bin/
cli_terminal_prototype/bin/
cli_command_parser_prototype/ebin/
cli_command_parser/ebin/
cli_command_parser_tests/ebin/
cli_service/ebin/
cli_service_test_commands/ebin/
cli_service_tests/ebin/
deploy/
untitled.sublime-workspace
